.advantages_wrapper {
  width: 100%;
}

.advantages_container {
  width: 70%;
  margin: 0 auto;
  padding: 14rem 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h5 {
    width: 75%;
    margin: 2.4rem 0 8rem 0;
    font-size: 1.6rem;
    font-weight: 400;
    text-align: center;
  }
}

.advantages_container_grid {
  display: grid;
  grid-template-columns: repeat(2, 50.8rem);
  grid-template-rows: auto;
  gap: 2.4rem;
}

@media screen and (max-width: 768px) {
  .advantages_container {
    width: 90%;
    padding: 4.8rem 0;
    align-items: start;

    h5 {
      width: 100%;
      margin: 2.4rem 0;
      text-align: start;
    }
  }

  .advantages_container_grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 375px) {
  .advantages_container {

    h5 {
      width: 99%;
      margin: 2.4rem 0;
      text-align: start;
    }
  }
}