.why_wrapper {
  width: 100%;
  background: white;
  position: relative;
}

.why_container {
  width: 75%;
  margin: 0 auto;
  padding: 14rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8rem;
  
  > .secondary_button {
    display: none;
  }
}

.why_row {
  display: flex;
  align-items: center;
  gap: 8rem;
  flex-wrap: wrap;

  &__reverse {
    display: flex;
    align-items: center;
    gap: 8rem;
    flex-wrap: wrap;
    flex-direction: row-reverse;
  }
}

.why_info {
  display: flex;
  flex-direction: column;
  align-items: start;

  h1 {
    margin: 0 0 2.4rem 0;
  }

  p {
    width: 48rem;
  }

  .secondary_button {
    margin: 1.6rem 0 0 0;
  }
}

.why_img {
  img {
    width: 100%;
    border-radius: 2.4rem;
  }
}

@media screen and (max-width: 768px) {
  .why_container {
    width: 90%;
    padding: 4.8rem 0;
    gap: 4.8rem;

    .secondary_button {
      display: flex;
      align-self: start;
    }
  }

  .why_row {
    gap: 4.8rem;
    flex-direction: column;

    &__reverse {
      gap: 4.8rem;
      flex-direction: column;
    }
  }

  .why_info {
    p {
      width: 100%;
    }

    .secondary_button {
      display: none;
    }
  }
}

@media screen and (max-width: 375px) {
  .why_container {
    width: 90%;
    padding: 4.8rem 0;
    gap: 4.8rem;

    .secondary_button {
      display: flex;
      align-self: start;
    }
  }

  .why_row {
    gap: 4.8rem;
    flex-direction: column;

    &__reverse {
      gap: 4.8rem;
      flex-direction: column;
    }
  }

  .why_info {
    p {
      width: 33.5rem;
    }

    .secondary_button {
      display: none;
    }
  }
}