.testimonials_wrapper {
  width: 100%;
  background: white;
}

.testimonials_container {
  width: 75%;
  margin: 0 auto;
  padding: 14rem 0;

  h1 {
    margin: 0 0 8rem 0;
    text-align: center;
  }
}

@media screen and (max-width: 768px){
  .testimonials_container {
    width: 90%;
  }
}