.logos_wrapper {
  width: 100%;
}

.logos_container {
  width: 75%;
  margin: 0rem auto;
  padding: 8rem 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 8rem;

  ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  h3 {
    font-size: 6.4rem;
    font-weight: 900;
  }

  h4 {
    font-size: 2.4rem;
    font-weight: 400;
  }
}

@media screen and (max-width: 768px) {
  .logos_container {
    width: 70%;
    padding: 4.8rem 0;
    gap: 4.8rem;
  }

  h3 {
    font-size: 4.8rem;
  }
}

@media screen and (max-width: 375px) {
  .logos_container {
    width: 80%;
  }
}