@font-face {
  font-family: 'Aeonik';
  src: url('fonts/Aeonik-Regular.eot');
  src: local(''), url("fonts/Aeonik-Regular.otf") format('opentype'), url("fonts/Aeonik-Regular.ttf") format('truetype'), url("fonts/Aeonik-Regular.woff") format('woff'), url("fonts/Aeonik-Regular.woff2") format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Aeonik';
  src: url('fonts/Aeonik-Black.eot');
  src: local(''), url("fonts/Aeonik-Black.otf") format('opentype'), url("fonts/Aeonik-Black.ttf") format('truetype'), url("fonts/Aeonik-Black.woff") format('woff'), url("fonts/Aeonik-Black.woff2") format('woff2');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Aeonik';
  src: url('fonts/Aeonik-Bold.eot');
  src: local(''), url("fonts/Aeonik-Bold.otf") format('opentype'), url("fonts/Aeonik-Bold.ttf") format('truetype'), url("fonts/Aeonik-Bold.woff") format('woff'), url("fonts/Aeonik-Bold.woff2") format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Aeonik';
  src: url('fonts/Aeonik-Medium.eot');
  src: local(''), url("fonts/Aeonik-Medium.otf") format('opentype'), url("fonts/Aeonik-Medium.ttf") format('truetype'), url("fonts/Aeonik-Medium.woff") format('woff'), url("fonts/Aeonik-Medium.woff2") format('woff2');
  font-weight: 500;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  font-family: 'Aeonik';
  line-height: 180%;
  background: #F4F4F9;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  font-size: 4.8rem;
  line-height: 140%;
  font-weight: 900;
}

h2 {
  font-size: 3.2rem;
  line-height: 170%;
  font-weight: 900;
}

h3 {
  font-size: 2rem;
  line-height: 140%;
  font-weight: 700;
}

.purple_text {
  color: #9747FF;
}

@import 'components/Header/header';
@import 'components/Main/main';
@import 'components/Logos/logos';
@import 'components/Hero/hero';
@import 'components/Advantages/advantages';
@import "components/AdvantagesCard/advantragesCard";
@import 'components/Testimonials/testimonials';
@import 'components/TestimonialsCard/testimonialsCard';
@import 'components/Services/services';
@import 'components/ServicesPlan/servicesPlan';
@import 'components/WhyPacenotes/whyPacenotes';
@import 'components/Help/help';
@import 'components/HelpCard/helpCard';
@import 'components/AnyQuestion/anyQuestions';
@import 'components/Footer/footer';
@import 'components/MobileMenu/mobileMenu';
@import 'components/Slider/slider';
@import 'components/Button/button';
@import "pages/ButtonPage/buttonPage";